Babel==2.9.0
blinker==1.9.0
click==8.1.8
Flask==2.0.3
Flask-Migrate==3.1.0
Flask-Moment==0.11.0
Flask-SQLAlchemy==2.5.1 
Flask-WTF==0.14.3
importlib_metadata==8.7.1
itsdangerous==2.2.0
Jinja2==3.0.3
MarkupSafe==3.0.3
psycopg2-binary==2.9.12
python-dateutil==2.6.0
python-3.9
pytz==2026.2
six==1.17.0
SQLAlchemy==1.4.46
typing_extensions==4.16.0
Werkzeug==2.0.0
WTForms==3.2.1
zipp==3.23.1
